#### Events Initial Analysis

The purpose of this notebook is to carry out a very rough, baseline analysis of the impact of events on nearby crimes. 

This analysis is limited in several important ways. See technical log for longer discussion, but to sum up some of the major ones:

- It uses single-day events, _without_ incorporating multi-day events from the dataset. This effectively intermingles our control (no-event) and treatment (event) groups, making it harder for us to detect a true effect.

- It uses a hard 1km square buffer around venues to identify possibly related crimes. Using this rather than a 'smart' buffer based on behavior also may increase the extent to which we intermingle impacted and unimpacted crimes, making it harder to detect a true effect. Also, if the buffer is too large, that will make it harder to detect a true effect. Conversely, if the buffer is too small we will increase the variance of our estimate.

- It relies on linear models. This isn't the worst thing ever but could _possibly_ be improved upon with a more nonlinear ML-y approach.

- It assumes that spillovers are (on average) linearly additive: being within the bandwidth of two events has on average 2x the effect of being within the bandwidth of one event.

- It relies on a selection-on-observables approach that only incorporates date, venue, and time as controls. This probably accounts for some significant part of any selection effect (day of the week, etc.) but not all. Other factors that are correlated with whether events take place and with crime will induce bias.

In [92]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import datetime as dt
from itertools import product
from sklearn import linear_model
import statsmodels.api as sm
%matplotlib inline
plt.rcParams['figure.figsize'] = [12, 12]  # add more space to figures

In [93]:
events = pd.DataFrame(gpd.read_file('geo/single_day_events.shp').drop(columns=['geometry']))
# convert event dates to datetime
events['date'] = pd.to_datetime(events['Date(s)'])
events

,Name of Ev,Category,Date(s),Location,Estimated,Number Peo,Address,Venue Capa,Venue Type,Latitude,Longitude,date
0,Alison Wonderland,Music,2018-08-24 00:00:00,Aragon Ballroom,None,4800,"1106 W Lawrence Ave, Chicago, IL 60640",4800.0,Event Space,41.969436,-87.658038,2018-08-24
1,"Virtual Self ""Utopia System""",Music,2018-09-07 00:00:00,Aragon Ballroom,None,4800,"1106 W Lawrence Ave, Chicago, IL 60640",4800.0,Event Space,41.969436,-87.658038,2018-09-07
2,5 Seconds of Summer / The Aces,Music,2018-09-08 00:00:00,Aragon Ballroom,None,4800,"1106 W Lawrence Ave, Chicago, IL 60640",4800.0,Event Space,41.969436,-87.658038,2018-09-08
3,SIGRID W/ HOUSES,Music,2019-08-01 00:00:00,Thalia Hall,Medium,800,"1807 S Allport St, Chicago, IL 60608",800.0,Music,41.857681,-87.657392,2019-08-01
4,JUDAH & THE LION W/ THE BAND CAMINO,Music,2019-08-02 00:00:00,Thalia Hall,Medium,800,"1807 S Allport St, Chicago, IL 60608",800.0,Music,41.857681,-87.657392,2019-08-02
...,...,...,...,...,...,...,...,...,...,...,...,...
920,Chicago Cubs vs Los Angeles Dodgers,Sports,2019-03-20 00:00:00,Wrigley Field,Large,41160,"1060 W Addison St, Chicago, IL 60613",41160.0,Sports,41.947588,-87.656125,2019-03-20
921,Chicago Cubs vs San Francisco Giants,Sports,2019-03-21 00:00:00,Wrigley Field,Large,41160,"1060 W Addison St, Chicago, IL 60613",41160.0,Sports,41.947588,-87.656125,2019-03-21
922,Chicago Cubs vs Los Angeles Angels,Sports,2019-06-03 00:00:00,Wrigley Field,Large,41160,"1060 W Addison St, Chicago, IL 60613",41160.0,Sports,41.947588,-87.656125,2019-06-03
923,14TH ANNUAL RACE TO WRIGLEY 5K CHARITY RUN PRE...,Sports,2019-04-27 00:00:00,Wrigley Field,Large,41160,"1060 W Addison St, Chicago, IL 60613",41160.0,Sports,41.947588,-87.656125,2019-04-27
924,ORANGETHEORY FITNESS HOSTS WORLD'S LARGEST HII...,Sports,2019-05-18 00:00:00,Wrigley Field,Large,41160,"1060 W Addison St, Chicago, IL 60613",41160.0,Sports,41.947588,-87.656125,2019-05-18

In [94]:
data = pd.read_csv('data/crime_event_treated.csv')
data['date'] = pd.to_datetime(data.date)
data

,Unnamed: 0,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,...,8to11_crime,9to12_crime,event_evening,event_3to6,event_4to7,event_5to8,event_6to9,event_7to10,event_8to11,event_9to12
0,0,11393720,JB367241,2018-07-27 00:00:00,047XX N BROADWAY,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,BANK,False,...,0,0,0,0,0,0,0,0,0,0
1,1,11394961,JB368503,2018-07-27 00:00:00,001XX W HUBBARD ST,0870,THEFT,POCKET-PICKING,TAVERN/LIQUOR STORE,False,...,0,0,0,0,0,0,0,0,0,0
2,2,11480254,JB480430,2018-07-27 00:00:00,012XX S MICHIGAN AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,...,0,0,0,0,0,0,0,0,0,0
3,3,11395054,JB368869,2018-07-27 00:01:00,040XX N BROADWAY,0620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
4,4,11395057,JB368870,2018-07-27 00:01:00,040XX N BROADWAY,1150,DECEPTIVE PRACTICE,CREDIT CARD FRAUD,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103490,103490,11790084,JC387494,2019-08-10 23:45:00,001XX S HALSTED ST,0870,THEFT,POCKET-PICKING,BAR OR TAVERN,False,...,1,1,0,0,0,0,0,0,0,0
103491,103491,11790431,JC387911,2019-08-10 23:59:00,040XX S FEDERAL ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,...,1,1,0,0,0,0,0,0,0,0
103492,103492,11790428,JC387941,2019-08-11 00:00:00,031XX N SHEFFIELD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,...,0,0,0,0,0,0,0,0,0,0
103493,103493,11791865,JC389527,2019-08-11 00:00:00,009XX W BELMONT AVE,0890,THEFT,FROM BUILDING,BAR OR TAVERN,False,...,0,0,0,0,0,0,0,0,0,0
103494,103494,11791683,JC389232,2019-08-11 00:00:00,008XX W ADDISON ST,0810,THEFT,OVER $500,STREET,False,...,0,0,0,0,0,0,0,0,0,0

For the purpose of the following analysis, we will not use any crimes that did not occur within the bandwidth of at least one venue. These crimes could be useful for training a predictive model to estimate the counterfactual of crimes at a venue, but otherwise should not be included in the analysis.

In [95]:
relevant_crimes = data[data.near_any_venue==1]

In [96]:
len(relevant_crimes)

48197

Simple difference in means: $\bar{Y}(D_i>0)-\bar{Y}(D_i=0)$. By "mean", we mean the average number of crimes per time period under consideration. 

First we'll do this with days. There are 381 days and 26 venues in our dataset. So we calculate the average number of crimes near venues on days that they have events, minus the average number of crimes near venues on days that they don't have events.

In [97]:
venuedays_with_events = len(events)
venuedays_without_events = 381*26 - venuedays_with_events

avg_crime_per_day_events = len(relevant_crimes[relevant_crimes.event_day>0])/venuedays_with_events
avg_crime_per_day_noevents = len(relevant_crimes[relevant_crimes.event_day==0])/venuedays_without_events

print(f"Average crime near venues on days with events: {avg_crime_per_day_events}")
print(f"Average crime near venues on days without events: {avg_crime_per_day_noevents}")
print(f"Naive estimated effect of events on crime: {avg_crime_per_day_events-avg_crime_per_day_noevents}")

Average crime near venues on days with events: 10.518918918918919
Average crime near venues on days without events: 4.283153323683331
Naive estimated effect of events on crime: 6.235765595235588

So there are many more crimes near our venues on days where they have events than on days where they don't. This is a fact, but doesn't necessarily imply causation. As a causal estimate this is likely to be biased upwards for many reasons, primarily due to selection (see technical log).

In [98]:
# repeat but for evening crimes

# note that the number of venue-days and venue-evenings with/without events is the same
avg_crime_per_evening_events = len(relevant_crimes[relevant_crimes.event_evening>0])/venuedays_with_events
avg_crime_per_evening_noevents = len(relevant_crimes[relevant_crimes.event_evening==0])/venuedays_without_events

print(f"Average crime near venues on evenings with events: {avg_crime_per_evening_events}")
print(f"Average crime near venues on evenings without events: {avg_crime_per_evening_noevents}")
print(f"Naive estimated effect of events on evening crime: {avg_crime_per_evening_events-avg_crime_per_evening_noevents}")

Average crime near venues on evenings with events: 2.982702702702703
Average crime near venues on evenings without events: 5.059347511412983
Naive estimated effect of events on evening crime: -2.07664480871028

When we only consider crimes that occurred in the evening, though, the estimated effect reverses! Another fact appears to be that there are _less_ evening crimes near our venues on days where there are events than on days where there aren't events.

Now we'll move on to regression- and prediction-based approaches. Our outcome is the number of crimes per venue and date/time, so we will need to modify our dataset: each observation should be per venue, per date/time. 

Our first version of this will be for the day and evening time bandwidths. Our dataset will contain 26*380 observations: one per venue per day. Each observation's attributes will be venue (including as dummy variable), date, number of day crimes, number of evening crimes, event binary.

In [99]:
relevant_crimes.date.max()

Timestamp('2019-08-11 00:00:00')

In [100]:
date_list = [dt.date.fromisoformat('2019-08-11') - dt.timedelta(days=i) for i in range(381)]
locations = list(set(events.Location))

In [101]:
# source: https://stackoverflow.com/questions/25634489/get-all-combinations-of-elements-from-two-lists
relevant_crimes_daily = pd.DataFrame(list(product(date_list, locations)), columns=['date','Location'])
relevant_crimes_daily['date'] = pd.to_datetime(relevant_crimes_daily['date'])
relevant_crimes_daily

           date                        Location
0    2019-08-11             The Chicago Theatre
1    2019-08-11    Main Hall in UIC Dorin Forum
2    2019-08-11              Arie Crown Theater
3    2019-08-11                Lincoln Park Zoo
4    2019-08-11  Cinespace Chicago Film Studios
...         ...                             ...
9901 2018-07-27              Concord Music Hall
9902 2018-07-27                   Soldier Field
9903 2018-07-27            Credit Union 1 Arena
9904 2018-07-27        Huntington Bank Pavilion
9905 2018-07-27                 Aragon Ballroom

[9906 rows x 2 columns]

In [102]:
relevant_crimes_daily = pd.merge(relevant_crimes_daily, events[["date","Location","Category"]], on=['date','Location'],how='left')
relevant_crimes_daily

           date                        Location Category
0    2019-08-11             The Chicago Theatre      NaN
1    2019-08-11    Main Hall in UIC Dorin Forum      NaN
2    2019-08-11              Arie Crown Theater      NaN
3    2019-08-11                Lincoln Park Zoo      NaN
4    2019-08-11  Cinespace Chicago Film Studios      NaN
...         ...                             ...      ...
9932 2018-07-27              Concord Music Hall      NaN
9933 2018-07-27                   Soldier Field      NaN
9934 2018-07-27            Credit Union 1 Arena      NaN
9935 2018-07-27        Huntington Bank Pavilion      NaN
9936 2018-07-27                 Aragon Ballroom      NaN

[9937 rows x 3 columns]

Note that our dataframe increased in size. This indicates that there are actually events that occur at the same venue on the same day. We'll remove and ignore those. (Also, this means that our estimates above were actually slightly off!)

In future analysis it will be valuable to look at a breakdown by event type, as there could be heterogenous treatment effect by type. But we will not do that here.

In [103]:
relevant_crimes_daily["event"] = np.where(
    relevant_crimes_daily.Category.isna(), 0, 1)
relevant_crimes_daily = relevant_crimes_daily.drop(columns=['Category']).drop_duplicates()
relevant_crimes_daily

           date                        Location  event
0    2019-08-11             The Chicago Theatre      0
1    2019-08-11    Main Hall in UIC Dorin Forum      0
2    2019-08-11              Arie Crown Theater      0
3    2019-08-11                Lincoln Park Zoo      0
4    2019-08-11  Cinespace Chicago Film Studios      0
...         ...                             ...    ...
9932 2018-07-27              Concord Music Hall      0
9933 2018-07-27                   Soldier Field      0
9934 2018-07-27            Credit Union 1 Arena      0
9935 2018-07-27        Huntington Bank Pavilion      0
9936 2018-07-27                 Aragon Ballroom      0

[9906 rows x 3 columns]

In [104]:
relevant_crimes_daily.event.value_counts()

0    9013
1     893
Name: event, dtype: int64

In [105]:
venuedays_with_events = len(relevant_crimes_daily[relevant_crimes_daily.event==1])
venuedays_without_events = len(relevant_crimes_daily[relevant_crimes_daily.event==0])

avg_crime_per_day_events = len(relevant_crimes[relevant_crimes.event_day>0])/venuedays_with_events
avg_crime_per_day_noevents = len(relevant_crimes[relevant_crimes.event_day==0])/venuedays_without_events

print("Days:")
print(f"Average crime near venues on days with events: {avg_crime_per_day_events}")
print(f"Average crime near venues on days without events: {avg_crime_per_day_noevents}")
print(f"Naive estimated effect of events on crime: {avg_crime_per_day_events-avg_crime_per_day_noevents}")

# note that the number of venue-days and venue-evenings with/without events is the same
avg_crime_per_evening_events = len(relevant_crimes[relevant_crimes.event_evening>0])/venuedays_with_events
avg_crime_per_evening_noevents = len(relevant_crimes[relevant_crimes.event_evening==0])/venuedays_without_events

print("\nEvenings:")
print(f"Average crime near venues on days with events: {avg_crime_per_evening_events}")
print(f"Average crime near venues on days without events: {avg_crime_per_evening_noevents}")
print(f"Naive estimated effect of events on crime: {avg_crime_per_evening_events-avg_crime_per_evening_noevents}")

Days:
Average crime near venues on days with events: 10.89585666293393
Average crime near venues on days without events: 4.267946299789194
Naive estimated effect of events on crime: 6.6279103631447365

Evenings:
Average crime near venues on days with events: 3.089585666293393
Average crime near venues on days without events: 5.041384666592699
Naive estimated effect of events on crime: -1.9517990002993062

In [106]:
for location in locations:
    relevant_crimes_daily[location] = np.where(
        relevant_crimes_daily.Location==location,
        1,0)
relevant_crimes_daily

,date,Location,event,The Chicago Theatre,Main Hall in UIC Dorin Forum,Arie Crown Theater,Lincoln Park Zoo,Cinespace Chicago Film Studios,Millennium Park,Petrillo Music Shell,...,Riviera Theatre,Gallagher Way,Guaranteed Rate Field,Sheraton Grand Chicago,Wrigley Field,Concord Music Hall,Soldier Field,Credit Union 1 Arena,Huntington Bank Pavilion,Aragon Ballroom
0,2019-08-11,The Chicago Theatre,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-08-11,Main Hall in UIC Dorin Forum,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2019-08-11,Arie Crown Theater,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2019-08-11,Lincoln Park Zoo,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-08-11,Cinespace Chicago Film Studios,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9932,2018-07-27,Concord Music Hall,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9933,2018-07-27,Soldier Field,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9934,2018-07-27,Credit Union 1 Arena,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9935,2018-07-27,Huntington Bank Pavilion,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9936,2018-07-27,Aragon Ballroom,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [107]:
relevant_crimes["day"] = relevant_crimes.date.dt.date
crimes_by_date = relevant_crimes.groupby(by=['day']).sum()[locations].reset_index()
crimes_by_date["day"] = pd.to_datetime(crimes_by_date["day"])
crimes_by_date.rename(columns={'day':'date'}, inplace=True)
crimes_by_date

/project/graziul/ra/drewkeller/geoconda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,date,The Chicago Theatre,Main Hall in UIC Dorin Forum,Arie Crown Theater,Lincoln Park Zoo,Cinespace Chicago Film Studios,Millennium Park,Petrillo Music Shell,Grant Park,Field Museum,...,Riviera Theatre,Gallagher Way,Guaranteed Rate Field,Sheraton Grand Chicago,Wrigley Field,Concord Music Hall,Soldier Field,Credit Union 1 Arena,Huntington Bank Pavilion,Aragon Ballroom
0,2018-07-27,43,2,10,4,6,33,20,13,8,...,8,10,4,32,14,6,10,5,1,8
1,2018-07-28,34,4,3,6,8,27,23,16,8,...,11,12,11,34,12,9,13,9,2,11
2,2018-07-29,45,6,8,6,6,32,22,5,3,...,3,21,5,33,21,11,6,6,0,3
3,2018-07-30,43,8,8,6,8,38,35,14,10,...,6,12,3,33,13,4,16,4,0,6
4,2018-07-31,41,4,4,5,5,33,19,12,9,...,12,6,4,33,8,7,12,10,0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,2019-08-07,34,4,4,7,7,30,23,11,8,...,10,9,7,30,7,5,11,6,1,9
377,2019-08-08,42,7,6,2,5,38,25,14,8,...,16,8,6,29,11,7,13,5,0,17
378,2019-08-09,34,9,6,6,6,31,21,9,4,...,8,11,4,33,9,7,6,13,0,7
379,2019-08-10,41,5,7,3,8,29,15,7,5,...,10,17,6,33,16,6,9,11,0,10
380,2019-08-11,0,0,0,0,0,0,0,0,0,...,0,2,0,0,3,0,0,0,0,0

In [108]:
# check
data[(data["Arie Crown Theater"]==1) & (data.date.dt.date == dt.date.fromisoformat('2018-07-29'))]  # should be 8 per above

,Unnamed: 0,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,...,8to11_crime,9to12_crime,event_evening,event_3to6,event_4to7,event_5to8,event_6to9,event_7to10,event_8to11,event_9to12
685,685,11395661,JB369820,2018-07-29 02:30:00,017XX S STATE ST,1210,DECEPTIVE PRACTICE,THEFT OF LABOR/SERVICES,TAXICAB,True,...,0,0,0,0,0,0,0,0,0,0
758,758,11400175,JB370130,2018-07-29 11:20:00,005XX W 18TH ST,0580,STALKING,SIMPLE,RESIDENCE,False,...,0,0,0,0,0,0,0,0,0,0
812,812,11396812,JB370327,2018-07-29 14:26:00,028XX S STATE ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
875,875,11396606,JB370949,2018-07-29 18:15:00,025XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,HOSPITAL BUILDING/GROUNDS,False,...,0,0,0,0,0,0,0,0,0,0
880,880,11396515,JB370925,2018-07-29 18:30:00,020XX S WABASH AVE,0810,THEFT,OVER $500,STREET,False,...,0,0,0,0,0,0,0,0,0,0
902,902,11396693,JB371175,2018-07-29 19:45:00,026XX S NORMAL AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,...,0,0,0,0,0,0,0,0,0,0
934,934,11396490,JB370844,2018-07-29 21:36:00,021XX S TAN CT,0330,ROBBERY,AGGRAVATED,SIDEWALK,True,...,1,1,0,0,0,0,0,0,0,0
948,948,11396519,JB370843,2018-07-29 22:07:00,023XX S PRINCETON AVE,0340,ROBBERY,ATTEMPT: STRONGARM-NO WEAPON,RESIDENTIAL YARD (FRONT/BACK),True,...,1,1,0,0,0,0,0,0,0,0

In [109]:
# assign proper crimes from crimes_by_date to relevant_crimes_daily
relevant_crimes_daily = pd.merge(relevant_crimes_daily, crimes_by_date, on=['date'], how='left')
relevant_crimes_daily

,date,Location,event,The Chicago Theatre_x,Main Hall in UIC Dorin Forum_x,Arie Crown Theater_x,Lincoln Park Zoo_x,Cinespace Chicago Film Studios_x,Millennium Park_x,Petrillo Music Shell_x,...,Riviera Theatre_y,Gallagher Way_y,Guaranteed Rate Field_y,Sheraton Grand Chicago_y,Wrigley Field_y,Concord Music Hall_y,Soldier Field_y,Credit Union 1 Arena_y,Huntington Bank Pavilion_y,Aragon Ballroom_y
0,2019-08-11,The Chicago Theatre,0,1,0,0,0,0,0,0,...,0,2,0,0,3,0,0,0,0,0
1,2019-08-11,Main Hall in UIC Dorin Forum,0,0,1,0,0,0,0,0,...,0,2,0,0,3,0,0,0,0,0
2,2019-08-11,Arie Crown Theater,0,0,0,1,0,0,0,0,...,0,2,0,0,3,0,0,0,0,0
3,2019-08-11,Lincoln Park Zoo,0,0,0,0,1,0,0,0,...,0,2,0,0,3,0,0,0,0,0
4,2019-08-11,Cinespace Chicago Film Studios,0,0,0,0,0,1,0,0,...,0,2,0,0,3,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,2018-07-27,Concord Music Hall,0,0,0,0,0,0,0,0,...,8,10,4,32,14,6,10,5,1,8
9902,2018-07-27,Soldier Field,0,0,0,0,0,0,0,0,...,8,10,4,32,14,6,10,5,1,8
9903,2018-07-27,Credit Union 1 Arena,0,0,0,0,0,0,0,0,...,8,10,4,32,14,6,10,5,1,8
9904,2018-07-27,Huntington Bank Pavilion,0,0,0,0,0,0,0,0,...,8,10,4,32,14,6,10,5,1,8
9905,2018-07-27,Aragon Ballroom,0,0,0,0,0,0,0,0,...,8,10,4,32,14,6,10,5,1,8

In [110]:
relevant_crimes_daily["day_crimes"] = 0
for location in locations:
    relevant_crimes_daily["day_crimes"] = np.where(
        relevant_crimes_daily.Location==location,
        relevant_crimes_daily[location+'_y'],
        relevant_crimes_daily["day_crimes"])
relevant_crimes_daily

,date,Location,event,The Chicago Theatre_x,Main Hall in UIC Dorin Forum_x,Arie Crown Theater_x,Lincoln Park Zoo_x,Cinespace Chicago Film Studios_x,Millennium Park_x,Petrillo Music Shell_x,...,Gallagher Way_y,Guaranteed Rate Field_y,Sheraton Grand Chicago_y,Wrigley Field_y,Concord Music Hall_y,Soldier Field_y,Credit Union 1 Arena_y,Huntington Bank Pavilion_y,Aragon Ballroom_y,day_crimes
0,2019-08-11,The Chicago Theatre,0,1,0,0,0,0,0,0,...,2,0,0,3,0,0,0,0,0,0
1,2019-08-11,Main Hall in UIC Dorin Forum,0,0,1,0,0,0,0,0,...,2,0,0,3,0,0,0,0,0,0
2,2019-08-11,Arie Crown Theater,0,0,0,1,0,0,0,0,...,2,0,0,3,0,0,0,0,0,0
3,2019-08-11,Lincoln Park Zoo,0,0,0,0,1,0,0,0,...,2,0,0,3,0,0,0,0,0,0
4,2019-08-11,Cinespace Chicago Film Studios,0,0,0,0,0,1,0,0,...,2,0,0,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,2018-07-27,Concord Music Hall,0,0,0,0,0,0,0,0,...,10,4,32,14,6,10,5,1,8,6
9902,2018-07-27,Soldier Field,0,0,0,0,0,0,0,0,...,10,4,32,14,6,10,5,1,8,10
9903,2018-07-27,Credit Union 1 Arena,0,0,0,0,0,0,0,0,...,10,4,32,14,6,10,5,1,8,5
9904,2018-07-27,Huntington Bank Pavilion,0,0,0,0,0,0,0,0,...,10,4,32,14,6,10,5,1,8,1
9905,2018-07-27,Aragon Ballroom,0,0,0,0,0,0,0,0,...,10,4,32,14,6,10,5,1,8,8

In [111]:
relevant_crimes_daily = relevant_crimes_daily[['date', 'Location', 'event','day_crimes', 'Thalia Hall_x',
       'Huntington Bank Pavilion_x', 'Union Station_x',
       'Cinespace Chicago Film Studios_x', 'Lincoln Park Zoo_x',
       'Chicago Symphony Orchestra_x', 'Petrillo Music Shell_x',
       'Millennium Park_x', 'Gallagher Way_x', 'Wrigley Field_x',
       'Concord Music Hall_x', 'Sheraton Grand Chicago_x',
       'The Chicago Theatre_x', 'Aragon Ballroom_x', 'Auditorium Theatre_x',
       'Museum of Science and Industry_x', 'Field Museum_x', 'Grant Park_x',
       'Main Hall in UIC Dorin Forum_x', 'Arie Crown Theater_x',
       'Soldier Field_x', 'Civic Opera House_x', 'United Center_x',
       'Guaranteed Rate Field_x', 'Credit Union 1 Arena_x',
       'Riviera Theatre_x']]

In [112]:
for column in relevant_crimes_daily.columns:
    if column.endswith('_x'):
        relevant_crimes_daily = relevant_crimes_daily.rename(columns={column:column[:-2]})
relevant_crimes_daily

,date,Location,event,day_crimes,Thalia Hall,Huntington Bank Pavilion,Union Station,Cinespace Chicago Film Studios,Lincoln Park Zoo,Chicago Symphony Orchestra,...,Field Museum,Grant Park,Main Hall in UIC Dorin Forum,Arie Crown Theater,Soldier Field,Civic Opera House,United Center,Guaranteed Rate Field,Credit Union 1 Arena,Riviera Theatre
0,2019-08-11,The Chicago Theatre,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019-08-11,Main Hall in UIC Dorin Forum,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2019-08-11,Arie Crown Theater,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,2019-08-11,Lincoln Park Zoo,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2019-08-11,Cinespace Chicago Film Studios,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,2018-07-27,Concord Music Hall,0,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9902,2018-07-27,Soldier Field,0,10,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9903,2018-07-27,Credit Union 1 Arena,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9904,2018-07-27,Huntington Bank Pavilion,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9905,2018-07-27,Aragon Ballroom,0,8,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [114]:
# now make this a function and add other crime types

def add_crimes(relevant_crimes_daily,relevant_crimes,crime_type):
    crimes_by_date = relevant_crimes[relevant_crimes[crime_type]>0].groupby(by=['day']).sum()[locations].reset_index()
    crimes_by_date["day"] = pd.to_datetime(crimes_by_date["day"])
    crimes_by_date.rename(columns={'day':'date'}, inplace=True)
    relevant_crimes_daily = pd.merge(relevant_crimes_daily, crimes_by_date, on=['date'], how='left')
    relevant_crimes_daily = relevant_crimes_daily.fillna(0)
    relevant_crimes_daily[crime_type] = 0
    for location in locations:
        relevant_crimes_daily[crime_type] = np.where(
            relevant_crimes_daily.Location==location,
            relevant_crimes_daily[location+'_y'],
            relevant_crimes_daily[crime_type])
    relevant_crimes_daily = relevant_crimes_daily.drop(columns=['Petrillo Music Shell_y', 'Grant Park_y', 'Guaranteed Rate Field_y',
       'United Center_y', 'Lincoln Park Zoo_y', 'Riviera Theatre_y',
       'Thalia Hall_y', 'Millennium Park_y', 'Field Museum_y',
       'Concord Music Hall_y', 'Wrigley Field_y', 'Auditorium Theatre_y',
       'Huntington Bank Pavilion_y', 'Union Station_y',
       'Main Hall in UIC Dorin Forum_y', 'Museum of Science and Industry_y',
       'Credit Union 1 Arena_y', 'Civic Opera House_y', 'Soldier Field_y',
       'Sheraton Grand Chicago_y', 'Cinespace Chicago Film Studios_y',
       'Gallagher Way_y', 'Arie Crown Theater_y', 'The Chicago Theatre_y',
       'Chicago Symphony Orchestra_y', 'Aragon Ballroom_y',])
    for column in relevant_crimes_daily.columns:
        if column.endswith('_x'):
            relevant_crimes_daily = relevant_crimes_daily.rename(columns={column:column[:-2]})
    
    return relevant_crimes_daily

event_types = [
    "day_crimes","evening_crime","3to6_crime","4to7_crime","5to8_crime",
    "6to9_crime","7to10_crime","8to11_crime","9to12_crime"
    ]
for crime_type in event_types[1:]:
    relevant_crimes_daily = add_crimes(relevant_crimes_daily,relevant_crimes,crime_type)
relevant_crimes_daily

,date,Location,event,day_crimes,Thalia Hall,Huntington Bank Pavilion,Union Station,Cinespace Chicago Film Studios,Lincoln Park Zoo,Chicago Symphony Orchestra,...,Credit Union 1 Arena,Riviera Theatre,evening_crime,3to6_crime,4to7_crime,5to8_crime,6to9_crime,7to10_crime,8to11_crime,9to12_crime
0,2019-08-11,The Chicago Theatre,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-08-11,Main Hall in UIC Dorin Forum,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-08-11,Arie Crown Theater,0,0,0,0,0,0,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019-08-11,Lincoln Park Zoo,0,0,0,0,0,0,1,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019-08-11,Cinespace Chicago Film Studios,0,0,0,0,0,1,0,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,2018-07-27,Concord Music Hall,0,6,0,0,0,0,0,0,...,0,0,1.0,2.0,2.0,1.0,0.0,0.0,1.0,1.0
9902,2018-07-27,Soldier Field,0,10,0,0,0,0,0,0,...,0,0,3.0,0.0,2.0,2.0,3.0,3.0,1.0,1.0
9903,2018-07-27,Credit Union 1 Arena,0,5,0,0,0,0,0,0,...,1,0,2.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0
9904,2018-07-27,Huntington Bank Pavilion,0,1,0,1,0,0,0,0,...,0,0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
9905,2018-07-27,Aragon Ballroom,0,8,0,0,0,0,0,0,...,0,0,2.0,3.0,1.0,1.0,1.0,0.0,1.0,1.0

In [127]:
# check
relevant_crimes_daily[(
    relevant_crimes_daily.Location=="Arie Crown Theater") & (
    relevant_crimes_daily.date.dt.date == dt.date.fromisoformat('2018-07-29'))]  # should be 8 per above
# also, from inspecting above we can see evening_crime should be 5, for example

,date,Location,event,day_crimes,Thalia Hall,Huntington Bank Pavilion,Union Station,Cinespace Chicago Film Studios,Lincoln Park Zoo,Chicago Symphony Orchestra,...,Credit Union 1 Arena,Riviera Theatre,evening_crime,3to6_crime,4to7_crime,5to8_crime,6to9_crime,7to10_crime,8to11_crime,9to12_crime
9830,2018-07-29,Arie Crown Theater,0,8,0,0,0,0,0,0,...,0,0,5.0,2.0,3.0,3.0,4.0,3.0,2.0,2.0

Now we have a dataframe called `relevant_crimes_daily` which contains one observation per venue per day. The indicator `event` is 1 if there was at least one event at that venue that day, else 0. The `day_crimes`, `evening_crime`, `3to6_crime`, etc. variables list the number of crimes that occurred within the relevant spatial and temporal bandwidth. (Note that the sum of crimes in this dataframe is more than the number of crimes in `relevant_crimes` (all within-bandwidth crimes), because crimes are logged for each venue they're within the bandwidth of. This also means that we might get different-direction results from a simple regression than we did from the difference in means, as we will see below.)

Now we'll first try a simple linear regression of daily crimes on whether there was an event nearby. This could recover an unbiased estimate of the effect of events on crimes if venues had been completely randomly assigned to have events - which they obviously did not.

In [128]:
X = relevant_crimes_daily.event
Y = relevant_crimes_daily.day_crimes

# sklearn version
#day_regression = linear_model.LinearRegression()
#day_regression.fit(X,Y)

print('Same day - simple regression:')
sm.OLS(Y, X).fit().summary()

Same day - simple regression:

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:             day_crimes   R-squared (uncentered):                   0.042
Model:                            OLS   Adj. R-squared (uncentered):              0.041
Method:                 Least Squares   F-statistic:                              429.9
Date:                Mon, 20 Jun 2022   Prob (F-statistic):                    1.64e-93
Time:                        18:46:08   Log-Likelihood:                         -42573.
No. Observations:                9906   AIC:                                  8.515e+04
Df Residuals:                    9905   BIC:                                  8.515e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
event         12.3449      0.595     20.733      0.000      11.178      13.512
==============================================================================
Omnibus:                     3404.642   Durbin-Watson:                   1.165
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15920.253
Skew:                           1.611   Prob(JB):                         0.00
Kurtosis:                       8.309   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

This estimates that having an event causes, on average, 12 more crimes that day within a 2km square around the venue. However, this is certainly biased due to our lack of actually being able to randomize events; any factors that both make crimes and events more likely would induce upward bias on our estimate (for example, day of the week, or venue type).

To try to somewhat account for this we will now repeat the regression with venue fixed effects and then venue and date fixed effects.

In [129]:
X = relevant_crimes_daily.drop(columns=['Location','date']+event_types)
Y = relevant_crimes_daily.day_crimes

print('Same-day crime - venue fixed effects:')
sm.OLS(Y, X).fit().summary()

Same-day crime - venue fixed effects:

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             day_crimes   R-squared:                       0.759
Model:                            OLS   Adj. R-squared:                  0.759
Method:                 Least Squares   F-statistic:                     1200.
Date:                Mon, 20 Jun 2022   Prob (F-statistic):               0.00
Time:                        18:46:13   Log-Likelihood:                -32022.
No. Observations:                9906   AIC:                         6.410e+04
Df Residuals:                    9879   BIC:                         6.429e+04
Df Model:                          26
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
event                              0.1228      0.227      0.540      0.589      -0.323       0.568
Thalia Hall                        4.8968      0.319     15.370      0.000       4.272       5.521
Huntington Bank Pavilion           0.3607      0.315      1.146      0.252      -0.257       0.978
Union Station                     16.1913      0.315     51.463      0.000      15.575      16.808
Cinespace Chicago Film Studios     6.3330      0.315     20.129      0.000       5.716       6.950
Lincoln Park Zoo                   3.8767      0.315     12.316      0.000       3.260       4.494
Chicago Symphony Orchestra        27.7237      0.316     87.708      0.000      27.104      28.343
Petrillo Music Shell              23.3553      0.315     74.230      0.000      22.739      23.972
Millennium Park                   31.8953      0.316    100.810      0.000      31.275      32.516
Gallagher Way                     10.0755      0.317     31.825      0.000       9.455      10.696
Wrigley Field                     10.4201      0.315     33.085      0.000       9.803      11.037
Concord Music Hall                 6.5276      0.323     20.213      0.000       5.895       7.161
Sheraton Grand Chicago            32.7894      0.315    104.218      0.000      32.173      33.406
The Chicago Theatre               38.5281      0.315    122.247      0.000      37.910      39.146
Aragon Ballroom                    8.7254      0.317     27.543      0.000       8.104       9.346
Auditorium Theatre                24.2813      0.315     77.103      0.000      23.664      24.899
Museum of Science and Industry     3.1720      0.315     10.079      0.000       2.555       3.789
Field Museum                       5.2510      0.315     16.690      0.000       4.634       5.868
Grant Park                        10.6982      0.315     33.999      0.000      10.081      11.315
Main Hall in UIC Dorin Forum       5.6191      0.315     17.860      0.000       5.002       6.236
Arie Crown Theater                 5.5069      0.315     17.502      0.000       4.890       6.124
Soldier Field                      8.4549      0.315     26.830      0.000       7.837       9.073
Civic Opera House                 31.2872      0.315     99.294      0.000      30.670      31.905
United Center                      6.9210      0.324     21.349      0.000       6.286       7.557
Guaranteed Rate Field              4.3495      0.315     13.819      0.000       3.733       4.966
Credit Union 1 Arena               6.5718      0.316     20.822      0.000       5.953       7.190
Riviera Theatre                    8.7953      0.316     27.793      0.000       8.175       9.416
==============================================================================
Omnibus:                     9107.572   Durbin-Watson:                   1.554
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           961237.631
Skew:                           4.044   Prob(JB):                         0.00
Kurtosis:                      50.576   Cond. No.                         1.89
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [130]:
time_dummies = relevant_crimes_daily.copy(deep=True).drop(columns='Location')
time_dummies["date"]=time_dummies.date.astype(str)
time_dummies = pd.get_dummies(time_dummies)
time_dummies

,event,day_crimes,Thalia Hall,Huntington Bank Pavilion,Union Station,Cinespace Chicago Film Studios,Lincoln Park Zoo,Chicago Symphony Orchestra,Petrillo Music Shell,Millennium Park,...,date_2019-08-02,date_2019-08-03,date_2019-08-04,date_2019-08-05,date_2019-08-06,date_2019-08-07,date_2019-08-08,date_2019-08-09,date_2019-08-10,date_2019-08-11
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9901,0,6,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9902,0,10,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9903,0,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9904,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9905,0,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [131]:
X = time_dummies.drop(columns=event_types+locations)
Y = time_dummies.day_crimes

print('Same-day crime - date fixed effects:')
sm.OLS(Y, X).fit().summary()

Same-day crime - date fixed effects:

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             day_crimes   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                  0.029
Method:                 Least Squares   F-statistic:                     1.765
Date:                Mon, 20 Jun 2022   Prob (F-statistic):           1.61e-17
Time:                        18:46:21   Log-Likelihood:                -38741.
No. Observations:                9906   AIC:                         7.825e+04
Df Residuals:                    9524   BIC:                         8.100e+04
Df Model:                         381
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
event              -1.1094      0.446     -2.489      0.013      -1.983      -0.236
date_2018-07-27    14.2308      2.417      5.888      0.000       9.493      18.969
date_2018-07-28    14.0042      2.417      5.794      0.000       9.266      18.742
date_2018-07-29    13.8077      2.417      5.713      0.000       9.070      18.546
date_2018-07-30    15.7692      2.417      6.524      0.000      11.031      20.507
date_2018-07-31    14.6538      2.417      6.063      0.000       9.916      19.392
date_2018-08-01    17.3203      2.418      7.164      0.000      12.581      22.059
date_2018-08-02    23.8546      2.417      9.868      0.000      19.116      28.593
date_2018-08-03    27.9399      2.418     11.555      0.000      23.200      32.680
date_2018-08-04    26.7818      2.418     11.078      0.000      22.043      31.521
date_2018-08-05    22.6581      2.417      9.374      0.000      17.920      27.396
date_2018-08-06    14.2734      2.417      5.905      0.000       9.535      19.012
date_2018-08-07    13.7392      2.417      5.684      0.000       9.001      18.478
date_2018-08-08    14.0811      2.417      5.826      0.000       9.343      18.819
date_2018-08-09    11.3546      2.417      4.697      0.000       6.616      16.093
date_2018-08-10    17.5084      2.417      7.243      0.000      12.770      22.247
date_2018-08-11    13.8203      2.418      5.716      0.000       9.081      18.559
date_2018-08-12    12.7776      2.417      5.286      0.000       8.039      17.516
date_2018-08-13    14.0469      2.417      5.811      0.000       9.308      18.785
date_2018-08-14    15.1749      2.419      6.274      0.000      10.434      19.916
date_2018-08-15    14.1581      2.417      5.857      0.000       9.420      18.896
date_2018-08-16    16.3546      2.417      6.766      0.000      11.616      21.093
date_2018-08-17    12.6581      2.417      5.237      0.000       7.920      17.396
date_2018-08-18    15.7861      2.418      6.528      0.000      11.046      20.526
date_2018-08-19    12.2007      2.417      5.047      0.000       7.462      16.939
date_2018-08-20    12.0811      2.417      4.998      0.000       7.343      16.819
date_2018-08-21    14.6238      2.417      6.050      0.000       9.885      19.362
date_2018-08-22    14.8119      2.417      6.128      0.000      10.074      19.550
date_2018-08-23    14.7692      2.417      6.110      0.000      10.031      19.507
date_2018-08-24    13.9784      2.418      5.781      0.000       9.238      18.718
date_2018-08-25    12.4399      2.418      5.145      0.000       7.700      17.180
date_2018-08-26    11.5769      2.417      4.790      0.000       6.839      16.315
date_2018-08-27    15.1196      2.417      6.255      0.000      10.381      19.858
date_2018-08-28    12.9700      2.417      5.365      0.000       8.231      17.708
date_2018-08-29    13.4231      2.417      5.553      0.000       8.685      18.161
date_2018-08-30    15.0469      2.417      6.225      0.000      10.308      19.785
date_2018-08-31    11.7049      2.418      4.841      0.000       6.966      16.444
date_2018-09-01    12.9784      2.418      5.367      0.000       8.238      17.718
date_2018-09-02    13.7350      2.417      5.682      0.000       8.997      18.473
date_2018-09-03    13.0769      2.417      5.410      0.000       8.339      17.815
date_2018-09-04    11.6965      2.417      4.839      0.000       6.958      16.435
date_2018-09-05    11.9014      2.418      4.922      0.000       7.162      16.641
date_2018-09-06    12.8588      2.418      5.319      0.000       8.120      17.598
date_2018-09-07    17.4399      2.418      7.212      0.000      12.700      22.180
date_2018-09-08    14.3714      2.419      5.940      0.000       9.629      19.114
date_2018-09-09    13.6623      2.417      5.652      0.000       8.924      18.401
date_2018-09-10    12.3161      2.417      5.095      0.000       7.578      17.055
date_2018-09-11    11.5511      2.418      4.778      0.000       6.812      16.290
date_2018-09-12    13.3161      2.417      5.509      0.000       8.578      18.055
date_2018-09-13    13.2392      2.417      5.477      0.000       8.501      17.978
date_2018-09-14    16.1791      2.419      6.688      0.000      11.437      20.921
date_2018-09-15    12.9099      2.419      5.336      0.000       8.168      17.652
date_2018-09-16    14.3888      2.417      5.953      0.000       9.651      19.127
date_2018-09-17    11.8161      2.417      4.888      0.000       7.078      16.555
date_2018-09-18    12.6965      2.417      5.253      0.000       7.958      17.435
date_2018-09-19    13.1196      2.417      5.428      0.000       8.381      17.858
date_2018-09-20    17.2476      2.418      7.133      0.000      12.508      21.988
date_2018-09-21    13.8972      2.418      5.748      0.000       9.158      18.636
date_2018-09-22    12.5980      2.419      5.209      0.000       7.857      17.339
date_2018-09-23    11.3161      2.417      4.681      0.000       6.578      16.055
date_2018-09-24    15.4399      2.418      6.385      0.000      10.700      20.180
date_2018-09-25    11.3972      2.418      4.714      0.000       6.658      16.136
date_2018-09-26    14.2776      2.417      5.906      0.000       9.539      19.016
date_2018-09-27    15.1623      2.417      6.272      0.000      10.424      19.901
date_2018-09-28    14.5126      2.418      6.003      0.000       9.774      19.252
date_2018-09-29    12.0427      2.417      4.982      0.000       7.305      16.781
date_2018-09-30    13.1364      2.419      5.431      0.000       8.395      17.877
date_2018-10-01    14.3546      2.417      5.938      0.000       9.616      19.093
date_2018-10-02    11.7091      2.418      4.842      0.000       6.969      16.449
date_2018-10-03    10.6665      2.418      4.412      0.000       5.927      15.406
date_2018-10-04    13.9056      2.419      5.749      0.000       9.165      18.647
date_2018-10-05    11.8245      2.418      4.890      0.000       7.085      16.564
date_2018-10-06    15.3029      2.421      6.321      0.000      10.557      20.049
date_2018-10-07    10.6707      2.418      4.413      0.000       5.931      15.411
date_2018-10-08    12.5385      2.417      5.187      0.000       7.800      17.276
date_2018-10-09    12.4315      2.417      5.143      0.000       7.693      17.170
date_2018-10-10    10.3546      2.417      4.283      0.000       5.616      15.093
date_2018-10-11    11.9657      2.417      4.950      0.000       7.228      16.704
date_2018-10-12    11.6833      2.420      4.828      0.000       6.939      16.427
date_2018-10-13    15.4099      2.419      6.370      0.000      10.668      20.152
date_2018-10-14    10.2434      2.418      4.237      0.000       5.504      14.982
date_2018-10-15    13.0595      2.419      5.400      0.000       8.319      17.800
date_2018-10-16    13.9357      2.418      5.764      0.000       9.197      18.675
date_2018-10-17    14.2818      2.418      5.907      0.000       9.543      19.021
date_2018-10-18    13.8245      2.418      5.717      0.000       9.085      18.564
date_2018-10-19    17.1665      2.418      7.101      0.000      12.427      21.906
date_2018-10-20    14.6875      2.421      6.067      0.000       9.942      19.433
date_2018-10-21     9.9399      2.418      4.111      0.000       5.200      14.680
date_2018-10-22    10.8546      2.417      4.490      0.000       6.116      15.593
date_2018-10-23    13.2049      2.418      5.462      0.000       8.466      17.944
date_2018-10-24    13.8630      2.418      5.733      0.000       9.123      18.603
date_2018-10-25    14.9868      2.419      6.195      0.000      10.244      19.729
date_2018-10-26    13.4014      2.418      5.542      0.000       8.662      18.141
date_2018-10-27    13.8672      2.419      5.734      0.000       9.126      18.608
date_2018-10-28    12.9826      2.419      5.368      0.000       8.242      17.724
date_2018-10-29    14.4657      2.417      5.985      0.000       9.728      19.204
date_2018-10-30    13.9357      2.418      5.764      0.000       9.197      18.675
date_2018-10-31    12.3588      2.418      5.112      0.000       7.620      17.098
date_2018-11-01    13.4784      2.418      5.574      0.000       8.738      18.218
date_2018-11-02    14.2945      2.419      5.909      0.000       9.552      19.037
date_2018-11-03    11.1022      2.419      4.589      0.000       6.360      15.844
date_2018-11-04    12.8672      2.419      5.320      0.000       8.126      17.608
date_2018-11-05    10.8888      2.417      4.505      0.000       6.151      15.627
date_2018-11-06    12.8203      2.418      5.303      0.000       8.081      17.559
date_2018-11-07    11.4014      2.418      4.715      0.000       6.662      16.141
date_2018-11-08    12.3588      2.418      5.112      0.000       7.620      17.098
date_2018-11-09    11.5469      2.417      4.777      0.000       6.808      16.285
date_2018-11-10    11.9868      2.419      4.955      0.000       7.244      16.729
date_2018-11-11    10.4441      2.419      4.318      0.000       5.703      15.185
date_2018-11-12     8.6280      2.418      3.569      0.000       3.889      13.367
date_2018-11-13     9.9742      2.418      4.126      0.000       5.235      14.713
date_2018-11-14    11.0980      2.419      4.589      0.000       6.357      15.839
date_2018-11-15    11.2518      2.419      4.652      0.000       6.511      15.993
date_2018-11-16    16.0763      2.422      6.638      0.000      11.329      20.824
date_2018-11-17    12.2518      2.419      5.066      0.000       7.511      16.993
date_2018-11-18    12.7007      2.417      5.254      0.000       7.962      17.439
date_2018-11-19    12.5042      2.417      5.173      0.000       7.766      17.242
date_2018-11-20    12.1196      2.417      5.014      0.000       7.381      16.858
date_2018-11-21    13.7392      2.417      5.684      0.000       9.001      18.478
date_2018-11-22     5.2308      2.417      2.164      0.030       0.493       9.969
date_2018-11-23    13.0595      2.419      5.400      0.000       8.319      17.800
date_2018-11-24    14.2518      2.419      5.893      0.000       9.511      18.993
date_2018-11-25    10.2692      2.417      4.249      0.000       5.531      15.007
date_2018-11-26     8.2350      2.417      3.407      0.001       3.497      12.973
date_2018-11-27    13.2392      2.417      5.477      0.000       8.501      17.978
date_2018-11-28    12.4615      2.417      5.156      0.000       7.724      17.200
date_2018-11-29    13.3972      2.418      5.541      0.000       8.658      18.136
date_2018-11-30    12.3630      2.418      5.113      0.000       7.623      17.103
date_2018-12-01    10.0252      2.419      4.144      0.000       5.283      14.768
date_2018-12-02    11.5595      2.419      4.779      0.000       6.819      16.300
date_2018-12-03    14.0000      2.417      5.792      0.000       9.262      18.738
date_2018-12-04    11.6238      2.417      4.809      0.000       6.885      16.362
date_2018-12-05    12.5895      2.418      5.207      0.000       7.850      17.329
date_2018-12-06    14.2987      2.420      5.908      0.000       9.555      19.043
date_2018-12-07    15.1280      2.418      6.257      0.000      10.389      19.867
date_2018-12-08    14.9014      2.418      6.163      0.000      10.162      19.641
date_2018-12-09    13.1707      2.418      5.447      0.000       8.431      17.911
date_2018-12-10    12.6196      2.417      5.221      0.000       7.881      17.358
date_2018-12-11    12.2308      2.417      5.060      0.000       7.493      16.969
date_2018-12-12    15.4315      2.417      6.384      0.000      10.693      20.170
date_2018-12-13    17.1581      2.417      7.098      0.000      12.420      21.896
date_2018-12-14    14.2434      2.418      5.891      0.000       9.504      18.982
date_2018-12-15    14.4273      2.417      5.969      0.000       9.689      19.165
date_2018-12-16    12.7392      2.417      5.270      0.000       8.001      17.478
date_2018-12-17    13.6238      2.417      5.636      0.000       8.885      18.362
date_2018-12-18    12.1538      2.417      5.028      0.000       7.416      16.892
date_2018-12-19    12.2049      2.418      5.048      0.000       7.466      16.944
date_2018-12-20    17.5469      2.417      7.259      0.000      12.808      22.285
date_2018-12-21    17.5895      2.418      7.276      0.000      12.850      22.329
date_2018-12-22    15.3546      2.417      6.352      0.000      10.616      20.093
date_2018-12-23    11.9273      2.417      4.934      0.000       7.189      16.665
date_2018-12-24    10.9231      2.417      4.519      0.000       6.185      15.661
date_2018-12-25     5.2308      2.417      2.164      0.030       0.493       9.969
date_2018-12-26    11.8504      2.417      4.903      0.000       7.112      16.588
date_2018-12-27    10.6196      2.417      4.393      0.000       5.881      15.358
date_2018-12-28    15.1665      2.418      6.273      0.000      10.427      19.906
date_2018-12-29    13.5553      2.418      5.606      0.000       8.815      18.295
date_2018-12-30    10.7861      2.418      4.461      0.000       6.046      15.526
date_2018-12-31    10.0084      2.417      4.140      0.000       5.270      14.747
date_2019-01-01    15.1923      2.417      6.285      0.000      10.454      19.930
date_2019-01-02    10.5042      2.417      4.346      0.000       5.766      15.242
date_2019-01-03    15.6923      2.417      6.492      0.000      10.954      20.430
date_2019-01-04    13.3930      2.417      5.540      0.000       8.655      18.132
date_2019-01-05    14.8846      2.417      6.158      0.000      10.147      19.623
date_2019-01-06    12.7392      2.417      5.270      0.000       8.001      17.478
date_2019-01-07    12.8504      2.417      5.316      0.000       8.112      17.588
date_2019-01-08    11.9615      2.417      4.949      0.000       7.224      16.700
date_2019-01-09    11.5853      2.417      4.793      0.000       6.847      16.324
date_2019-01-10    12.0084      2.417      4.968      0.000       7.270      16.747
date_2019-01-11    12.7392      2.417      5.270      0.000       8.001      17.478
date_2019-01-12    14.6364      2.419      6.052      0.000       9.895      19.377
date_2019-01-13     9.1965      2.417      3.805      0.000       4.458      13.935
date_2019-01-14    12.7692      2.417      5.283      0.000       8.031      17.507
date_2019-01-15    13.8161      2.417      5.715      0.000       9.078      18.555
date_2019-01-16    15.5000      2.417      6.413      0.000      10.762      20.238
date_2019-01-17    14.3077      2.417      5.919      0.000       9.570      19.046
date_2019-01-18    12.6196      2.417      5.221      0.000       7.881      17.358
date_2019-01-19     9.2476      2.418      3.824      0.000       4.508      13.988
date_2019-01-20     7.5042      2.417      3.105      0.002       2.766      12.242
date_2019-01-21     9.7776      2.417      4.045      0.000       5.039      14.516
date_2019-01-22    13.3888      2.417      5.539      0.000       8.651      18.127
date_2019-01-23    15.7818      2.418      6.528      0.000      11.043      20.521
date_2019-01-24    13.3287      2.419      5.511      0.000       8.588      18.070
date_2019-01-25    11.9315      2.417      4.936      0.000       7.193      16.670
date_2019-01-26     9.7861      2.418      4.047      0.000       5.046      14.526
date_2019-01-27     9.5853      2.417      3.965      0.000       4.847      14.324
date_2019-01-28    14.1154      2.417      5.840      0.000       9.377      18.853
date_2019-01-29    10.2734      2.417      4.250      0.000       5.535      15.012
date_2019-01-30     4.3077      2.417      1.782      0.075      -0.430       9.046
date_2019-01-31     7.8077      2.417      3.230      0.001       3.070      12.546
date_2019-02-01    13.5980      2.419      5.622      0.000       8.857      18.339
date_2019-02-02    10.9315      2.417      4.522      0.000       6.193      15.670
date_2019-02-03     9.5126      2.418      3.935      0.000       4.774      14.252
date_2019-02-04    14.0769      2.417      5.824      0.000       9.339      18.815
date_2019-02-05    10.4357      2.418      4.316      0.000       5.697      15.175
date_2019-02-06    13.2007      2.417      5.461      0.000       8.462      17.939
date_2019-02-07    14.0895      2.418      5.828      0.000       9.350      18.829
date_2019-02-08    12.1022      2.419      5.002      0.000       7.360      16.844
date_2019-02-09    15.8630      2.418      6.560      0.000      11.123      20.603
date_2019-02-10     9.5511      2.418      3.951      0.000       4.812      14.290
date_2019-02-11     8.2734      2.417      3.423      0.001       3.535      13.012
date_2019-02-12    13.3504      2.417      5.523      0.000       8.612      18.088
date_2019-02-13    13.8930      2.417      5.747      0.000       9.155      18.632
date_2019-02-14    15.8630      2.418      6.560      0.000      11.123      20.603
date_2019-02-15    14.7945      2.419      6.115      0.000      10.052      19.537
date_2019-02-16    13.1022      2.419      5.416      0.000       8.360      17.844
date_2019-02-17    13.0853      2.417      5.413      0.000       8.347      17.824
date_2019-02-18     9.7734      2.417      4.043      0.000       5.035      14.512
date_2019-02-19    10.6196      2.417      4.393      0.000       5.881      15.358
date_2019-02-20     9.6154      2.417      3.978      0.000       4.877      14.353
date_2019-02-21    13.1665      2.418      5.446      0.000       8.427      17.906
date_2019-02-22    17.0980      2.419      7.069      0.000      12.357      21.839
date_2019-02-23    12.2602      2.420      5.066      0.000       7.516      17.004
date_2019-02-24    10.7434      2.418      4.444      0.000       6.004      15.482
date_2019-02-25    10.9315      2.417      4.522      0.000       6.193      15.670
date_2019-02-26    12.4742      2.418      5.160      0.000       7.735      17.213
date_2019-02-27     8.8504      2.417      3.661      0.000       4.112      13.588
date_2019-02-28    10.0469      2.417      4.156      0.000       5.308      14.785
date_2019-03-01    10.8203      2.418      4.476      0.000       6.081      15.559
date_2019-03-02     8.6833      2.420      3.588      0.000       3.939      13.427
date_2019-03-03    10.8630      2.418      4.492      0.000       6.123      15.603
date_2019-03-04     7.5469      2.417      3.122      0.002       2.808      12.285
date_2019-03-05    10.3119      2.417      4.266      0.000       5.574      15.050
date_2019-03-06    11.1322      2.418      4.604      0.000       6.392      15.872
date_2019-03-07    13.5126      2.418      5.589      0.000       8.774      18.252

We shouldn't pay too much attention to these, though - considering all the crimes from the day is certainly much too high a time bandwidth that could hide any real effect.

We'll try the same thing with crimes from 6pm - midnight on the day of an event.

In [133]:
X = relevant_crimes_daily.event
Y = relevant_crimes_daily.evening_crime

print('Evening - simple regression:')
sm.OLS(Y, X).fit().summary()

Evening - simple regression:

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          evening_crime   R-squared (uncentered):                   0.033
Model:                            OLS   Adj. R-squared (uncentered):              0.033
Method:                 Least Squares   F-statistic:                              338.0
Date:                Mon, 20 Jun 2022   Prob (F-statistic):                    3.01e-74
Time:                        18:46:33   Log-Likelihood:                         -31197.
No. Observations:                9906   AIC:                                  6.240e+04
Df Residuals:                    9905   BIC:                                  6.240e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
event          3.4714      0.189     18.384      0.000       3.101       3.842
==============================================================================
Omnibus:                    11477.017   Durbin-Watson:                   1.246
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2321745.276
Skew:                           5.834   Prob(JB):                         0.00
Kurtosis:                      77.087   Cond. No.                         1.00
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [135]:
X = relevant_crimes_daily.drop(columns=['Location','date']+event_types)
Y = relevant_crimes_daily.evening_crime

print('Evening - venue fixed effects:')
sm.OLS(Y, X).fit().summary()

Evening - venue fixed effects:

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          evening_crime   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.370
Method:                 Least Squares   F-statistic:                     224.5
Date:                Mon, 20 Jun 2022   Prob (F-statistic):               0.00
Time:                        18:46:44   Log-Likelihood:                -26570.
No. Observations:                9906   AIC:                         5.319e+04
Df Residuals:                    9879   BIC:                         5.339e+04
Df Model:                          26
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
event                             -0.0010      0.131     -0.008      0.994      -0.258       0.256
Thalia Hall                        1.5567      0.184      8.472      0.000       1.196       1.917
Huntington Bank Pavilion           0.1444      0.182      0.795      0.427      -0.212       0.500
Union Station                      3.6929      0.181     20.351      0.000       3.337       4.049
Cinespace Chicago Film Studios     1.9764      0.181     10.891      0.000       1.621       2.332
Lincoln Park Zoo                   1.1890      0.182      6.549      0.000       0.833       1.545
Chicago Symphony Orchestra         7.0999      0.182     38.944      0.000       6.743       7.457
Petrillo Music Shell               6.2651      0.181     34.524      0.000       5.909       6.621
Millennium Park                    8.4175      0.182     46.128      0.000       8.060       8.775
Gallagher Way                      3.0002      0.183     16.431      0.000       2.642       3.358
Wrigley Field                      3.1418      0.182     17.296      0.000       2.786       3.498
Concord Music Hall                 2.1946      0.186     11.782      0.000       1.829       2.560
Sheraton Grand Chicago             8.7953      0.181     48.469      0.000       8.440       9.151
The Chicago Theatre                9.8584      0.182     54.234      0.000       9.502      10.215
Aragon Ballroom                    2.5697      0.183     14.064      0.000       2.212       2.928
Auditorium Theatre                 6.2888      0.182     34.623      0.000       5.933       6.645
Museum of Science and Industry     0.8845      0.182      4.873      0.000       0.529       1.240
Field Museum                       1.6667      0.181      9.185      0.000       1.311       2.022
Grant Park                         3.0735      0.181     16.936      0.000       2.718       3.429
Main Hall in UIC Dorin Forum       1.6325      0.181      8.997      0.000       1.277       1.988
Arie Crown Theater                 1.5538      0.181      8.562      0.000       1.198       1.910
Soldier Field                      2.5565      0.182     14.066      0.000       2.200       2.913
Civic Opera House                  7.8190      0.182     43.024      0.000       7.463       8.175
United Center                      2.4492      0.187     13.099      0.000       2.083       2.816
Guaranteed Rate Field              1.3701      0.182      7.547      0.000       1.014       1.726
Credit Union 1 Arena               2.0474      0.182     11.247      0.000       1.691       2.404
Riviera Theatre                    2.5750      0.183     14.108      0.000       2.217       2.933
==============================================================================
Omnibus:                    15084.902   Durbin-Watson:                   1.609
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         10750832.014
Skew:                           9.362   Prob(JB):                         0.00
Kurtosis:                     163.300   Cond. No.                         1.89
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [136]:
X = time_dummies.drop(columns=event_types+locations)
Y = time_dummies.evening_crime

print('Evening crimes - date fixed effects:')
sm.OLS(Y, X).fit().summary()

Evening crimes - date fixed effects:

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          evening_crime   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                  0.122
Method:                 Least Squares   F-statistic:                     4.600
Date:                Mon, 20 Jun 2022   Prob (F-statistic):          1.94e-155
Time:                        18:46:58   Log-Likelihood:                -28034.
No. Observations:                9906   AIC:                         5.683e+04
Df Residuals:                    9524   BIC:                         5.958e+04
Df Model:                         381
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
event              -0.1649      0.151     -1.091      0.275      -0.461       0.131
date_2018-07-27     3.8077      0.820      4.643      0.000       2.200       5.415
date_2018-07-28     4.0833      0.820      4.979      0.000       2.476       5.691
date_2018-07-29     3.2308      0.820      3.940      0.000       1.623       4.838
date_2018-07-30     3.2308      0.820      3.940      0.000       1.623       4.838
date_2018-07-31     4.4615      0.820      5.440      0.000       2.854       6.069
date_2018-08-01     4.2113      0.820      5.134      0.000       2.603       5.819
date_2018-08-02     8.3204      0.820     10.145      0.000       6.713       9.928
date_2018-08-03    11.4100      0.820     13.908      0.000       9.802      13.018
date_2018-08-04    11.8652      0.820     14.465      0.000      10.257      13.473
date_2018-08-05     7.5448      0.820      9.200      0.000       5.937       9.152
date_2018-08-06     2.5833      0.820      3.150      0.002       0.976       4.191
date_2018-08-07     3.1281      0.820      3.814      0.000       1.520       4.736
date_2018-08-08     3.4679      0.820      4.229      0.000       1.860       5.075
date_2018-08-09     2.4742      0.820      3.017      0.003       0.867       4.082
date_2018-08-10     4.4358      0.820      5.408      0.000       2.828       6.043
date_2018-08-11     3.2113      0.820      3.915      0.000       1.603       4.819
date_2018-08-12     4.5896      0.820      5.596      0.000       2.982       6.197
date_2018-08-13     3.0511      0.820      3.720      0.000       1.443       4.659
date_2018-08-14     6.9163      0.821      8.429      0.000       5.308       8.525
date_2018-08-15     4.3525      0.820      5.307      0.000       2.745       5.960
date_2018-08-16     4.2819      0.820      5.221      0.000       2.674       5.890
date_2018-08-17     4.0448      0.820      4.932      0.000       2.437       5.652
date_2018-08-18     4.9100      0.820      5.985      0.000       3.302       6.518
date_2018-08-19     3.4358      0.820      4.189      0.000       1.828       5.043
date_2018-08-20     3.2756      0.820      3.994      0.000       1.668       4.883
date_2018-08-21     4.3588      0.820      5.315      0.000       2.751       5.967
date_2018-08-22     4.6987      0.820      5.729      0.000       3.091       6.306
date_2018-08-23     3.5000      0.820      4.268      0.000       1.892       5.108
date_2018-08-24     3.5638      0.820      4.344      0.000       1.956       5.172
date_2018-08-25     2.8715      0.820      3.500      0.000       1.263       4.480
date_2018-08-26     3.2692      0.820      3.987      0.000       1.662       4.877
date_2018-08-27     4.2371      0.820      5.167      0.000       2.630       5.845
date_2018-08-28     3.7435      0.820      4.564      0.000       2.136       5.351
date_2018-08-29     3.7692      0.820      4.596      0.000       2.162       5.377
date_2018-08-30     4.0896      0.820      4.986      0.000       2.482       5.697
date_2018-08-31     2.6729      0.820      3.259      0.001       1.065       4.281
date_2018-09-01     3.7561      0.820      4.578      0.000       2.148       5.364
date_2018-09-02     3.1602      0.820      3.853      0.000       1.553       4.768
date_2018-09-03     3.2308      0.820      3.940      0.000       1.623       4.838
date_2018-09-04     3.1987      0.820      3.900      0.000       1.591       4.806
date_2018-09-05     3.7946      0.820      4.625      0.000       2.186       5.403
date_2018-09-06     3.3267      0.820      4.056      0.000       1.719       4.935
date_2018-09-07     4.9869      0.820      6.079      0.000       3.379       6.595
date_2018-09-08     3.3073      0.821      4.029      0.000       1.698       4.916
date_2018-09-09     3.2050      0.820      3.908      0.000       1.597       4.813
date_2018-09-10     3.0896      0.820      3.767      0.000       1.482       4.697
date_2018-09-11     3.8267      0.820      4.665      0.000       2.219       5.435
date_2018-09-12     3.7435      0.820      4.564      0.000       2.136       5.351
date_2018-09-13     3.5127      0.820      4.283      0.000       1.905       5.120
date_2018-09-14     4.2304      0.821      5.154      0.000       2.621       5.839
date_2018-09-15     3.6150      0.821      4.404      0.000       2.006       5.224
date_2018-09-16     4.5833      0.820      5.589      0.000       2.976       6.191
date_2018-09-17     4.0511      0.820      4.940      0.000       2.443       5.659
date_2018-09-18     3.5833      0.820      4.369      0.000       1.976       5.191
date_2018-09-19     3.0833      0.820      3.760      0.000       1.476       4.691
date_2018-09-20     3.8715      0.820      4.719      0.000       2.263       5.480
date_2018-09-21     3.0960      0.820      3.774      0.000       1.488       4.704
date_2018-09-22     3.6086      0.821      4.398      0.000       2.000       5.217
date_2018-09-23     2.9358      0.820      3.580      0.000       1.328       4.543
date_2018-09-24     3.2561      0.820      3.969      0.000       1.648       4.864
date_2018-09-25     2.5190      0.820      3.071      0.002       0.911       4.127
date_2018-09-26     3.6665      0.820      4.471      0.000       2.059       5.274
date_2018-09-27     3.8973      0.820      4.752      0.000       2.290       5.505
date_2018-09-28     4.2883      0.820      5.228      0.000       2.680       5.896
date_2018-09-29     3.1217      0.820      3.807      0.000       1.514       4.729
date_2018-09-30     3.2240      0.821      3.929      0.000       1.616       4.833
date_2018-10-01     3.9742      0.820      4.846      0.000       2.367       5.582
date_2018-10-02     2.6408      0.820      3.219      0.001       1.033       4.249
date_2018-10-03     2.7113      0.820      3.305      0.001       1.103       4.319
date_2018-10-04     3.0702      0.821      3.741      0.000       1.462       4.679
date_2018-10-05     4.2561      0.820      5.188      0.000       2.648       5.864
date_2018-10-06     3.4354      0.821      4.182      0.000       1.825       5.045
date_2018-10-07     2.1408      0.820      2.609      0.009       0.533       3.749
date_2018-10-08     4.7692      0.820      5.816      0.000       3.162       6.377
date_2018-10-09     4.0511      0.820      4.940      0.000       2.443       5.659
date_2018-10-10     2.7435      0.820      3.345      0.001       1.136       4.351
date_2018-10-11     3.4294      0.820      4.182      0.000       1.822       5.037
date_2018-10-12     3.7367      0.821      4.551      0.000       2.127       5.346
date_2018-10-13     4.8458      0.821      5.904      0.000       3.237       6.455
date_2018-10-14     3.4036      0.820      4.150      0.000       1.796       5.012
date_2018-10-15     3.5702      0.821      4.351      0.000       1.962       5.179
date_2018-10-16     2.3652      0.820      2.883      0.004       0.757       3.973
date_2018-10-17     3.8652      0.820      4.712      0.000       2.257       5.473
date_2018-10-18     3.0254      0.820      3.688      0.000       1.417       4.634
date_2018-10-19     5.0960      0.820      6.213      0.000       3.488       6.704
date_2018-10-20     4.3969      0.821      5.353      0.000       2.787       6.007
date_2018-10-21     1.6792      0.820      2.047      0.041       0.071       3.287
date_2018-10-22     2.9358      0.820      3.580      0.000       1.328       4.543
date_2018-10-23     3.7498      0.820      4.572      0.000       2.142       5.358
date_2018-10-24     3.7946      0.820      4.625      0.000       2.186       5.403
date_2018-10-25     3.1534      0.821      3.842      0.000       1.544       4.762
date_2018-10-26     3.2946      0.820      4.016      0.000       1.686       4.903
date_2018-10-27     3.1471      0.821      3.835      0.000       1.539       4.756
date_2018-10-28     3.1471      0.821      3.835      0.000       1.539       4.756
date_2018-10-29     3.7371      0.820      4.557      0.000       2.130       5.345
date_2018-10-30     4.3652      0.820      5.322      0.000       2.757       5.973
date_2018-10-31     3.6344      0.820      4.431      0.000       2.027       5.242
date_2018-11-01     2.7177      0.820      3.313      0.001       1.110       4.326
date_2018-11-02     2.9996      0.821      3.654      0.000       1.391       4.609
date_2018-11-03     3.4227      0.821      4.170      0.000       1.814       5.032
date_2018-11-04     2.8779      0.821      3.507      0.000       1.269       4.486
date_2018-11-05     2.0833      0.820      2.540      0.011       0.476       3.691
date_2018-11-06     2.7883      0.820      3.399      0.001       1.180       4.396
date_2018-11-07     3.1408      0.820      3.828      0.000       1.533       4.749
date_2018-11-08     2.7883      0.820      3.399      0.001       1.180       4.396
date_2018-11-09     3.4358      0.820      4.189      0.000       1.828       5.043
date_2018-11-10     2.3842      0.821      2.905      0.004       0.775       3.993
date_2018-11-11     2.6086      0.821      3.179      0.001       1.000       4.217
date_2018-11-12     1.9036      0.820      2.321      0.020       0.296       3.512
date_2018-11-13     3.1729      0.820      3.868      0.000       1.565       4.781
date_2018-11-14     3.4163      0.821      4.163      0.000       1.808       5.025
date_2018-11-15     2.6086      0.821      3.179      0.001       1.000       4.217
date_2018-11-16     6.0571      0.822      7.371      0.000       4.446       7.668
date_2018-11-17     3.4933      0.821      4.257      0.000       1.885       5.102
date_2018-11-18     2.7435      0.820      3.345      0.001       1.136       4.351
date_2018-11-19     4.1987      0.820      5.120      0.000       2.591       5.806
date_2018-11-20     3.2756      0.820      3.994      0.000       1.668       4.883
date_2018-11-21     2.5127      0.820      3.064      0.002       0.905       4.120
date_2018-11-22     1.1538      0.820      1.407      0.159      -0.454       2.761
date_2018-11-23     1.9548      0.821      2.382      0.017       0.346       3.563
date_2018-11-24     4.1471      0.821      5.054      0.000       2.539       5.756
date_2018-11-25     2.3846      0.820      2.908      0.004       0.777       3.992
date_2018-11-26     2.1217      0.820      2.587      0.010       0.514       3.729
date_2018-11-27     3.7050      0.820      4.517      0.000       2.097       5.313
date_2018-11-28     4.1538      0.820      5.065      0.000       2.546       5.761
date_2018-11-29     3.6729      0.820      4.478      0.000       2.065       5.281
date_2018-11-30     3.6792      0.820      4.485      0.000       2.071       5.287
date_2018-12-01     2.3458      0.821      2.858      0.004       0.737       3.955
date_2018-12-02     3.3010      0.821      4.023      0.000       1.692       4.909
date_2018-12-03     4.2308      0.820      5.159      0.000       2.623       5.838
date_2018-12-04     3.1665      0.820      3.861      0.000       1.559       4.774
date_2018-12-05     2.3267      0.820      2.837      0.005       0.719       3.935
date_2018-12-06     3.3521      0.821      4.083      0.000       1.743       4.962
date_2018-12-07     3.8267      0.820      4.665      0.000       2.219       5.435
date_2018-12-08     3.5254      0.820      4.297      0.000       1.917       5.134
date_2018-12-09     3.2946      0.820      4.016      0.000       1.686       4.903
date_2018-12-10     2.1602      0.820      2.634      0.008       0.553       3.768
date_2018-12-11     3.8846      0.820      4.737      0.000       2.277       5.492
date_2018-12-12     5.0127      0.820      6.112      0.000       3.405       6.620
date_2018-12-13     3.0833      0.820      3.760      0.000       1.476       4.691
date_2018-12-14     4.1344      0.820      5.040      0.000       2.527       5.742
date_2018-12-15     3.5448      0.820      4.322      0.000       1.937       5.152
date_2018-12-16     3.6281      0.820      4.424      0.000       2.020       5.236
date_2018-12-17     4.2819      0.820      5.221      0.000       2.674       5.890
date_2018-12-18     3.9615      0.820      4.831      0.000       2.354       5.569
date_2018-12-19     3.4036      0.820      4.150      0.000       1.796       5.012
date_2018-12-20     6.5127      0.820      7.941      0.000       4.905       8.120
date_2018-12-21     6.7883      0.820      8.276      0.000       5.180       8.396
date_2018-12-22     4.3588      0.820      5.315      0.000       2.751       5.967
date_2018-12-23     3.6217      0.820      4.416      0.000       2.014       5.229
date_2018-12-24     3.8462      0.820      4.690      0.000       2.239       5.454
date_2018-12-25     1.5000      0.820      1.829      0.067      -0.108       3.108
date_2018-12-26     3.5833      0.820      4.369      0.000       1.976       5.191
date_2018-12-27     1.1987      0.820      1.462      0.144      -0.409       2.806
date_2018-12-28     4.2883      0.820      5.228      0.000       2.680       5.896
date_2018-12-29     3.4485      0.820      4.203      0.000       1.840       5.057
date_2018-12-30     2.8715      0.820      3.500      0.000       1.263       4.480
date_2018-12-31     3.1665      0.820      3.861      0.000       1.559       4.774
date_2019-01-01     1.2308      0.820      1.501      0.133      -0.377       2.838
date_2019-01-02     1.4679      0.820      1.790      0.074      -0.140       3.075
date_2019-01-03     4.0769      0.820      4.971      0.000       2.469       5.684
date_2019-01-04     3.7819      0.820      4.611      0.000       2.174       5.390
date_2019-01-05     3.7308      0.820      4.549      0.000       2.123       5.338
date_2019-01-06     3.6665      0.820      4.471      0.000       2.059       5.274
date_2019-01-07     4.1217      0.820      5.026      0.000       2.514       5.729
date_2019-01-08     3.3846      0.820      4.127      0.000       1.777       4.992
date_2019-01-09     3.5511      0.820      4.330      0.000       1.943       5.159
date_2019-01-10     2.7050      0.820      3.298      0.001       1.097       4.313
date_2019-01-11     3.6281      0.820      4.424      0.000       2.020       5.236
date_2019-01-12     4.1086      0.821      5.007      0.000       2.500       5.717
date_2019-01-13     2.9294      0.820      3.572      0.000       1.322       4.537
date_2019-01-14     3.0000      0.820      3.658      0.000       1.392       4.608
date_2019-01-15     2.7819      0.820      3.392      0.001       1.174       4.390
date_2019-01-16     3.0385      0.820      3.705      0.000       1.431       4.646
date_2019-01-17     3.8462      0.820      4.690      0.000       2.239       5.454
date_2019-01-18     2.4294      0.820      2.962      0.003       0.822       4.037
date_2019-01-19     2.2177      0.820      2.703      0.007       0.610       3.826
date_2019-01-20     1.9294      0.820      2.353      0.019       0.322       3.537
date_2019-01-21     2.8204      0.820      3.439      0.001       1.213       4.428
date_2019-01-22     3.2371      0.820      3.947      0.000       1.630       4.845
date_2019-01-23     5.9806      0.820      7.291      0.000       4.373       7.588
date_2019-01-24     2.3394      0.821      2.851      0.004       0.731       3.948
date_2019-01-25     3.2819      0.820      4.002      0.000       1.674       4.890
date_2019-01-26     2.4485      0.820      2.984      0.003       0.840       4.057
date_2019-01-27     2.8973      0.820      3.533      0.000       1.290       4.505
date_2019-01-28     3.1538      0.820      3.846      0.000       1.546       4.761
date_2019-01-29     1.4679      0.820      1.790      0.074      -0.140       3.075
date_2019-01-30     1.1923      0.820      1.454      0.146      -0.415       2.800
date_2019-01-31     2.1154      0.820      2.580      0.010       0.508       3.723
date_2019-02-01     4.1856      0.821      5.101      0.000       2.577       5.794
date_2019-02-02     3.5127      0.820      4.283      0.000       1.905       5.120
date_2019-02-03     1.9036      0.820      2.321      0.020       0.296       3.512
date_2019-02-04     3.4231      0.820      4.174      0.000       1.816       5.031
date_2019-02-05     3.0960      0.820      3.774      0.000       1.488       4.704
date_2019-02-06     3.5127      0.820      4.283      0.000       1.905       5.120
date_2019-02-07     3.3652      0.820      4.103      0.000       1.757       4.973
date_2019-02-08     3.7304      0.821      4.545      0.000       2.121       5.339
date_2019-02-09     4.9485      0.820      6.032      0.000       3.340       6.557
date_2019-02-10     2.2883      0.820      2.790      0.005       0.680       3.896
date_2019-02-11     1.5448      0.820      1.884      0.060      -0.063       3.152
date_2019-02-12     3.0448      0.820      3.713      0.000       1.437       4.652
date_2019-02-13     5.2435      0.820      6.393      0.000       3.636       6.851
date_2019-02-14     2.7177      0.820      3.313      0.001       1.110       4.326
date_2019-02-15     4.5765      0.821      5.576      0.000       2.968       6.185
date_2019-02-16     3.9227      0.821      4.779      0.000       2.314       5.532
date_2019-02-17     3.2435      0.820      3.955      0.000       1.636       4.851
date_2019-02-18     2.7756      0.820      3.384      0.001       1.168       4.383
date_2019-02-19     2.1987      0.820      2.681      0.007       0.591       3.806
date_2019-02-20     2.5385      0.820      3.095      0.002       0.931       4.146
date_2019-02-21     3.2113      0.820      3.915      0.000       1.603       4.819
date_2019-02-22     5.1471      0.821      6.272      0.000       3.539       6.756
date_2019-02-23     3.1598      0.821      3.848      0.000       1.550       4.769
date_2019-02-24     2.0960      0.820      2.555      0.011       0.488       3.704
date_2019-02-25     1.7819      0.820      2.173      0.030       0.174       3.390
date_2019-02-26     2.3652      0.820      2.883      0.004       0.757       3.973
date_2019-02-27     2.3525      0.820      2.869      0.004       0.745       3.960
date_2019-02-28     2.5896      0.820      3.157      0.002       0.982       4.197
date_2019-03-01     2.7883      0.820      3.399      0.001       1.180       4.396
date_2019-03-02     3.5059      0.821      4.270      0.000       1.896       5.115
date_2019-03-03     2.6792      0.820      3.266      0.001       1.071       4.287
date_2019-03-04     1.4358      0.820      1.751      0.080      -0.172       3.043
date_2019-03-05     2.9679      0.820      3.619      0.000       1.360       4.575
date_2019-03-06     1.6408      0.820      2.000      0.046       0.033       3.249
date_2019-03-07     4.0960      0.820      4.994      0.000       2.488       5.704

Without venue or time fixed effects, we estimate that having an event on the same day increases evening crimes within a 2 km square by more than 3 per event (remember that we are treating multiple nearby events' effects as linearly additive), which is both statistically and practically significant (remember that on average there are only 3 to 5 crimes logged per evening within a 2 km square of all the venues). Also, the likely-larger-than-ideal time bandwidth would probably attenuate this estimate from a real effect. 

On the other hand, this estimates is very susceptible to bias from selection. Notably, adding either venue or time fixed effects results in an estimated effect that is very small and we cannot reject the null hypothesis.

Finally, we'll estimate time fixed effects regressions of crimes within each 3-hour time window on same-day events.

In [151]:
results = {}
for event_type in event_types[2:]:
    X = time_dummies.drop(columns=event_types+locations)
    Y = time_dummies[event_type]
    model = sm.OLS(Y, X).fit()
    results[event_type] = [model.params[0],model.pvalues[0]]
print('Estimated effect of event on crimes by time period (and p values)')
results

Estimated effect of event on crimes by time period (and p values)

{'3to6_crime': [-0.5210523668192552, 0.0003645583788985817],
 '4to7_crime': [-0.41445746767945946, 0.0031271402272106865],
 '5to8_crime': [-0.3364354343779856, 0.010756584941803805],
 '6to9_crime': [-0.20257558227274855, 0.09706204060034679],
 '7to10_crime': [-0.0934151617284556, 0.4085114470081045],
 '8to11_crime': [-0.02625886614014658, 0.7862465451523972],
 '9to12_crime': [0.0029176517933506563, 0.96648191606254]}

These results are a bit strange. The estimates start out significant (same-day events cause -0.52 crimes from 3 to 6pm, p = 0.0004) and reduce later in the evening.

Personally, I think these results suggest that we cannot detect a measurable effect of the kind of event in our dataset on crimes, but the high possibility of selection on unobservables means further analysis is warranted.